force-app/main/default/flows/PP_PurchasePrice_Screen_UpdateByCloneAndArchive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Future_Start_Date</name>
        <label>Is Future Start Date?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_New_Purchase_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Start Validity Date Is Today</defaultConnectorLabel>
        <rules>
            <name>Start_Validity_Date_In_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Validity_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Future_New_Purchase_Price</targetReference>
            </connector>
            <label>Start Validity Date In Future</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CurrencyChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Purchase_Price__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurchasePriceIncotermList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purchase_Price_Incoterm__c</picklistField>
        <picklistObject>Purchase_Price__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_CaclulateExpiryDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Start_Validity_Date}), {!$Flow.CurrentDate}, {!Start_Validity_Date} - 1)</expression>
    </formulas>
    <formulas>
        <name>Formula_NewPurchasePriceLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!newPurchasePriceId}, &quot;Voir le record&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_PreviousPurchasePrice</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Get_Purchase_Price.Purchase_Price__c}, 0)</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>Formula_NewPurchasePriceValue</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!Purchase_Price}, 0)</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>Formula_PurchasePriceIncreasePercent</name>
        <dataType>Number</dataType>
        <expression>IF(
{!Formula_PreviousPurchasePrice} = 0,
0,
(({!Formula_NewPurchasePriceValue} - {!Formula_PreviousPurchasePrice}) / {!Formula_PreviousPurchasePrice}) * 100
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PP_PurchasePrice_Screen_UpdateByCloneAndArchive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP_PurchasePrice_Screen_UpdateByCloneAndArchive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Future_New_Purchase_Price</name>
        <label>Create Future New Purchase Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newPurchasePriceId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Existing_Record_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_DML_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Article__c</field>
            <value>
                <elementReference>Get_Purchase_Price.Article__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checked_Date__c</field>
            <value>
                <elementReference>Checked_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Validity_Date__c</field>
            <value>
                <elementReference>End_Validity_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer_Price__c</field>
            <value>
                <elementReference>Manufacturer_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_MOQ__c</field>
            <value>
                <elementReference>Max_MOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_MOQ__c</field>
            <value>
                <elementReference>Min_MOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price_Incoterm__c</field>
            <value>
                <elementReference>Purchase_Price_Incoterm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>Purchase_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Comment__c</field>
            <value>
                <elementReference>Quotation_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Link__c</field>
            <value>
                <elementReference>Quotation_Link_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Validity_Date__c</field>
            <value>
                <elementReference>Start_Validity_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Future Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Margin__c</field>
            <value>
                <elementReference>Supplier_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PP_Revises__c</field>
            <value>
                <elementReference>Get_Purchase_Price.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>Get_Purchase_Price.Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Purchase_Price</name>
        <label>Create New Purchase Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newPurchasePriceId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Record_As_Obsolete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_DML_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Article__c</field>
            <value>
                <elementReference>Get_Purchase_Price.Article__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Checked_Date__c</field>
            <value>
                <elementReference>Checked_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Validity_Date__c</field>
            <value>
                <elementReference>End_Validity_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer_Price__c</field>
            <value>
                <elementReference>Manufacturer_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_MOQ__c</field>
            <value>
                <elementReference>Max_MOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_MOQ__c</field>
            <value>
                <elementReference>Min_MOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price_Incoterm__c</field>
            <value>
                <elementReference>Purchase_Price_Incoterm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>Purchase_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Comment__c</field>
            <value>
                <elementReference>Quotation_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Link__c</field>
            <value>
                <elementReference>Quotation_Link_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Validity_Date__c</field>
            <value>
                <elementReference>Start_Validity_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Margin__c</field>
            <value>
                <elementReference>Supplier_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PP_Revises__c</field>
            <value>
                <elementReference>Get_Purchase_Price.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>Get_Purchase_Price.Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Purchase_Price</name>
        <label>Get Purchase Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Purchase_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Record_As_Obsolete</name>
        <label>Set Record As Obsolete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Purchase_Price_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_DML_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Price.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Validity_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Obsolete</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Record_Status</name>
        <label>Update Existing Record Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Purchase_Price_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_DML_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Price.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Validity_Date__c</field>
            <value>
                <elementReference>formula_CaclulateExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToBeReplaced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_DML_Fault</name>
        <label>Erreur (détail)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message_Text</name>
            <fieldText>&lt;p&gt;La mise à jour n&apos;a pas pu aboutir. Message technique :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Copiez ce texte vers l&apos;administrateur si le problème se répète.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Purchase_Price_Link</name>
        <label>New Purchase Price Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Redirectionlink</name>
            <fieldText>&lt;p&gt;✅ Le nouveau prix d&apos;achat a été créé avec succès.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ancien prix: {!Formula_PreviousPurchasePrice}&lt;/p&gt;&lt;p&gt;Nouveau prix: {!Formula_NewPurchasePriceValue}&lt;/p&gt;&lt;p&gt;Variation (%): {!Formula_PurchasePriceIncreasePercent}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;🔗{!Formula_NewPurchasePriceLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Purchase_Price</name>
        <label>Update Purchase Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Future_Start_Date</targetReference>
        </connector>
        <fields>
            <name>Article</name>
            <fieldText>&lt;p&gt;Article&lt;/p&gt;&lt;p&gt;{!Get_Purchase_Price.Article_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Manufacturer_Price</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Manufacturer_Price__c</elementReference>
            </defaultValue>
            <fieldText>Manufacturer Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Purchase_Price</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Purchase_Price__c</elementReference>
            </defaultValue>
            <fieldText>Purchase Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Currency</name>
            <choiceReferences>CurrencyChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.CurrencyIsoCode</elementReference>
            </defaultValue>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supplier_Margin</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Supplier_Margin__c</elementReference>
            </defaultValue>
            <fieldText>Supplier Margin</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Min_MOQ</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Min_MOQ__c</elementReference>
            </defaultValue>
            <fieldText>Min MOQ</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Max_MOQ</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Max_MOQ__c</elementReference>
            </defaultValue>
            <fieldText>Max MOQ</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Validity_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Start_Validity_Date__c</elementReference>
            </defaultValue>
            <fieldText>Start Validity Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Validity_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.End_Validity_Date__c</elementReference>
            </defaultValue>
            <fieldText>End Validity Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Checked_Date</name>
            <dataType>Date</dataType>
            <fieldText>Checked Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quotation_Link_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Quotation_Link__c</elementReference>
            </defaultValue>
            <fieldText>Quotation Link</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quotation_Comment</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Quotation_Comment__c</elementReference>
            </defaultValue>
            <fieldText>Quotation Comment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Purchase_Price_Incoterm</name>
            <choiceReferences>PurchasePriceIncotermList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Purchase_Price.Purchase_Price_Incoterm__c</elementReference>
            </defaultValue>
            <fieldText>Purchase Price Incoterm</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Purchase_Price</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newPurchasePriceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>



