force-app/main/default/flows/PP_PurchasePrice_Scheduled_WeeklyReports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Weekly_New_Prices_Report</name>
        <label>Send Weekly New Prices Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Weekly_To_Confirm_Report</targetReference>
        </connector>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>fxRecipientsWeeklyNew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>fxSubjectWeeklyNew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>fxBodyWeeklyNew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Weekly_To_Confirm_Report</name>
        <label>Send Weekly To Confirm Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>fxRecipientsWeeklyToConfirm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>fxSubjectWeeklyToConfirm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>fxBodyWeeklyToConfirm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Flow planifie hebdomadaire pour communication interne Purchase Price. Envoie deux emails chaque semaine: (1) rapport nouveaux prix vers Antoine Joubin, Antoine Bouhours et Celine Rotte; (2) rapport des records en attente de validation (To Confirm) vers Antoine Joubin et Celine Rotte. Les sujets/corps utilisent des Custom Labels dedies.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxBodyWeeklyNew</name>
        <dataType>String</dataType>
        <expression>$Label.LB_Purchase_Price_Weekly_New_Body</expression>
    </formulas>
    <formulas>
        <name>fxBodyWeeklyToConfirm</name>
        <dataType>String</dataType>
        <expression>$Label.LB_Purchase_Price_Weekly_ToConfirm_Body</expression>
    </formulas>
    <formulas>
        <name>fxRecipientsWeeklyNew</name>
        <dataType>String</dataType>
        <expression>"a.joubin-3mcg@force.com.partialsb;a.bouhours@iwasecosfa.com.partialsb;c.rotte@iwasecosfa.com.partialsb"</expression>
    </formulas>
    <formulas>
        <name>fxRecipientsWeeklyToConfirm</name>
        <dataType>String</dataType>
        <expression>"a.joubin-3mcg@force.com.partialsb;c.rotte@iwasecosfa.com.partialsb"</expression>
    </formulas>
    <formulas>
        <name>fxSubjectWeeklyNew</name>
        <dataType>String</dataType>
        <expression>$Label.LB_Purchase_Price_Weekly_New_Subject</expression>
    </formulas>
    <formulas>
        <name>fxSubjectWeeklyToConfirm</name>
        <dataType>String</dataType>
        <expression>$Label.LB_Purchase_Price_Weekly_ToConfirm_Subject</expression>
    </formulas>
    <interviewLabel>PP_PurchasePrice_Scheduled_WeeklyReports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP_PurchasePrice_Scheduled_WeeklyReports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Weekly_New_Prices_Report</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2026-04-27</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>


