force-app/main/default/flows/PP_PurchasePrice_Scheduled_ManageLifecycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>PP_PurchasePrice_Scheduled_ManageLifecycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP_PurchasePrice_Scheduled_ManageLifecycle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <description>Daily: ToBeReplaced+end passed → Obsolete; Future Price with start &lt;= today → Validate; Validate, no end date, 18+ months from start/created → To Ask (see PP_No_End_Review_Due__c); To Ask + Quotation_Comment marker NEGOTIATION_LOST → Obsolete</description>
    <recordLookups>
        <name>Get_Future_Price_Records</name>
        <label>Get Future Price Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Pending_To_Validate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future Price</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Validity_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_To_Be_Replaced_Records</name>
        <label>Get To Be Replaced Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ToBeReplaced_To_Obsolete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToBeReplaced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Validity_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pending_To_Validate</name>
        <label>Update Pending To Validate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Open_End_18M_To_Ask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Future Price</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Validity_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Validate</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_End_18M_To_Ask</name>
        <label>Open end no end date: 18M to To Ask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Negotiation_Lost_To_Obsolete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validate</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Validity_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>To Ask</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Negotiation_Lost_To_Obsolete</name>
        <label>Negotiation lost marker to Obsolete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Ask</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Comment__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NEGOTIATION_LOST</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Obsolete</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ToBeReplaced_To_Obsolete</name>
        <label>Update ToBeReplaced To Obsolete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Future_Price_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToBeReplaced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Validity_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Obsolete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToBeReplaced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_To_Be_Replaced_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-19</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>



