force-app/main/default/flows/PP_PurchasePrice_Screen_CreateWithQuotations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>chPP_Standard</name>
        <choiceText>Prix standard (pas de client specifique)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>chPP_Specific</name>
        <choiceText>Prix specifique a un ou plusieurs clients (quotations)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Specific</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Prix_Specifique</name>
        <label>Prix specifique ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Scr_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard (To Confirm deja enregistre)</defaultConnectorLabel>
        <rules>
            <name>Path_Specifique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrPP_inp_PriceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scr_Quotation_Client</targetReference>
            </connector>
            <label>Prix specifique</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dyn_Purchase_Price_Incoterm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purchase_Price_Incoterm__c</picklistField>
        <picklistObject>Purchase_Price__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dyn_Purchase_Price_Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Purchase_Price__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dyn_Article</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Article__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dyn_Supplier_Account</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dyn_Customer_Account</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fx_Initial_Purchase_Price_Status</name>
        <dataType>String</dataType>
        <expression>IF({!scrPP_inp_PriceType} = &quot;Specific&quot;, &quot;To Ask&quot;, &quot;To Confirm&quot;)</expression>
    </formulas>
    <formulas>
        <name>fx_Done_Record_Url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_650}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_650}) - 1) &amp; &quot;/&quot; &amp; {!Create_Purchase_Price.Id}</expression>
    </formulas>
    <formulas>
        <name>fx_Supplier_For_Purchase_Price</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!scrPP_inp_Supplier_Id}), LEN({!scrPP_inp_Supplier_Id}) &lt; 5), &quot;&quot;, {!scrPP_inp_Supplier_Id})</expression>
    </formulas>
    <interviewLabel>PP_PurchasePrice_Screen_CreateWithQuotations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PP_PurchasePrice_Screen_CreateWithQuotations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Purchase_Price</name>
        <label>Create Purchase Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Prix_Specifique</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Scr_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Article__c</field>
            <value>
                <elementReference>scrPP_inp_Article_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>scrPP_inp_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Validity_Date__c</field>
            <value>
                <elementReference>scrPP_inp_End_Validity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer_Price__c</field>
            <value>
                <elementReference>scrPP_inp_Mfg_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_MOQ__c</field>
            <value>
                <elementReference>scrPP_inp_Max_MOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_MOQ__c</field>
            <value>
                <elementReference>scrPP_inp_Min_MOQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price_Incoterm__c</field>
            <value>
                <elementReference>scrPP_inp_Incoterm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>scrPP_inp_Purchase_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Validity_Date__c</field>
            <value>
                <elementReference>scrPP_inp_Start_Validity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fx_Initial_Purchase_Price_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Margin__c</field>
            <value>
                <elementReference>scrPP_inp_Supplier_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>scrPP_inp_Supplier_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quotation_Junction</name>
        <label>Create Customer s Purchase Quotation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Purchase_Price_To_Confirm</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Scr_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>scrQ_inp_Customer_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>Create_Purchase_Price.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_s_Purchase_Quotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Purchase_Price_To_Confirm</name>
        <label>Update Purchase Price to To Confirm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Scr_Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Scr_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Purchase_Price.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>To Confirm</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Price__c</object>
    </recordUpdates>
    <screens>
        <name>Scr_Collect_Purchase_Price</name>
        <label>1 - Purchase Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Purchase_Price</targetReference>
        </connector>
        <fields>
            <name>scrPP_Intro</name>
            <fieldText>&lt;p&gt;Creation guidee. Selectionnez les enregistrements directement par leur &lt;strong&gt;nom&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Prix &lt;strong&gt;specifique client&lt;/strong&gt; : le statut est d&apos;abord &lt;em&gt;To Ask&lt;/em&gt;, puis apres enregistrement d&apos;au moins une line Customer&apos;s Purchase Quotation, passage en &lt;em&gt;To Confirm&lt;/em&gt; (soumission approbation).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_PriceType</name>
            <choiceReferences>chPP_Standard</choiceReferences>
            <choiceReferences>chPP_Specific</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de prix</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Article_Id</name>
            <choiceReferences>dyn_Article</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Article</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Selectionner l&apos;article par son nom</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Supplier_Id</name>
            <choiceReferences>dyn_Supplier_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Supplier (compte) - optionnel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Selectionner le compte fournisseur par son nom (laisser vide si non renseigne)</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Mfg_Price</name>
            <dataType>Number</dataType>
            <fieldText>Manufacturer price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Supplier_Margin</name>
            <dataType>Number</dataType>
            <fieldText>Supplier margin (%)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Purchase_Price</name>
            <dataType>Number</dataType>
            <fieldText>Purchase price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Currency</name>
            <choiceReferences>dyn_Purchase_Price_Currency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Devise (CurrencyIsoCode)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Min_MOQ</name>
            <dataType>Number</dataType>
            <fieldText>Min MOQ</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Max_MOQ</name>
            <dataType>Number</dataType>
            <fieldText>Max MOQ</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Incoterm</name>
            <choiceReferences>dyn_Purchase_Price_Incoterm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Incoterm (Purchase price)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_Start_Validity</name>
            <dataType>Date</dataType>
            <fieldText>Date debut validite</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrPP_inp_End_Validity</name>
            <dataType>Date</dataType>
            <fieldText>Date fin validite</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scr_Quotation_Client</name>
        <label>2 - Lien client (quotation)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Quotation_Junction</targetReference>
        </connector>
        <fields>
            <name>scrQ_help</name>
            <fieldText>&lt;p&gt;Selectionnez le compte client concerne (lookup &lt;strong&gt;Customer&lt;/strong&gt;).&lt;/p&gt;&lt;p&gt;Vous pourrez completer d&apos;autres clients depuis la fiche &lt;em&gt;Customer&apos;s Purchase Quotation&lt;/em&gt; si necessaire.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>scrQ_inp_Customer_Id</name>
            <choiceReferences>dyn_Customer_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compte client</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Selectionner le client par son nom</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer la quotation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scr_Done</name>
        <label>Termine</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scrDone_Text</name>
            <fieldText>&lt;p&gt;Purchase Price cree. &lt;a href=&quot;{!fx_Done_Record_Url}&quot; rel=&quot;noopener&quot; target=&quot;_blank&quot;&gt;Ouvrir l&apos;enregistrement&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Reference : &lt;strong&gt;{!Create_Purchase_Price.Id}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Fermer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scr_Fault</name>
        <label>Erreur</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scrFault_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(194, 57, 52);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Annulez et corrigez les donnees, ou contactez l&apos;administrateur.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Scr_Collect_Purchase_Price</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>


